{% include './layouts/head.liquid' %}
<main>
   <section class="blog-hero pt-xl-22 pt-sm-20 pt-18 pb-xxl-25 pb-xl-23 pb-22 position-relative">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
               <div class="blog-hero-content">
                  <h1 class="blog-hero-title">{{title}}</h1>
                  <p>{{description}}</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="blog @@padding @@blog-two">
      <div class="container">
         <div class="row">
         {% for blog in blog %}
         <div class="col-lg-4 col-md-6">
               <article class="blog-post">
                  <div class="blog-post-thumb">
                     <a href="{{ blog.url }}">
                        <img src="{{ blog.data.thumbImg.image }}" alt="{{ blog.data.thumbImg.image_alt }}" loading="lazy" />
                     </a>
                  </div>
                  <div class="blog-post-content">
                     <div class="blog-post-tag @@category">
                     {% for tag in blog.data.tags limit: 2 %}
                        <a href="/tags/{{ tag }}/">{{ tag }}</a>
                     {% endfor %}
                     </div>
                     <div class="blog-post-title">
                        <a href="{{ blog.url }}" class="">{{blog.data.title}}</a>
                     </div>
                  </div>
               </article>
            </div>
         {% endfor %}
         {% assign variable = pagination.hrefs | length %}
         {% if variable > 1 %}
            <nav class="blog-pagination">
               <ul class="pagination">
               {% if pagination.href.previous %}
                  <li class="page-item">
                     <a class="page-link btn btn-secondary" href="{{pagination.href.previous}}">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="20.657"
                           height="11.314"
                           viewBox="0 0 20.657 11.314"
                           style="transform: scale(-1, 1)"
                        >
                           <g fill="#fff" data-name="Group 12">
                              <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
                              <path
                                 d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                                 data-name="Rectangle 2401"
                              ></path>
                              <path
                                 d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                                 data-name="Rectangle 2402"
                              ></path>
                           </g>
                        </svg>
                     </a>
                  </li>
               {% endif %}
               {% for pageEntry in pagination.hrefs %}
               <li class="page-item">
                  <a
                     class="page-link btn btn-secondary {% if page.url == pageEntry %}active{% endif %}"
                     href="{{pageEntry}}"
                     >{{forloop.index}}
                  </a>
               </li>
               {% endfor %}
                  {% if pagination.href.next %}
                  <li class="page-item">
                     <a class="page-link btn btn-secondary" href="{{ pagination.href.next }}">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="20.657"
                           height="11.314"
                           viewBox="0 0 20.657 11.314"
                        >
                           <g fill="#fff" data-name="Group 12">
                              <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
                              <path
                                 d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                                 data-name="Rectangle 2401"
                              ></path>
                              <path
                                 d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                                 data-name="Rectangle 2402"
                              ></path>
                           </g>
                        </svg>
                     </a>
                  </li>
                  {% endif %} 
               </ul>
            </nav>
         {% endif %}
         </div>
      </div>
   </section>
</main>
{% include './layouts/tail.liquid' %}