<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>{{ title }} | {{ site.site_title }}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {%- comment -%} Page description for SEO {%- endcomment -%}
      {% if seo.page_description %}
         <meta name="description" content="{{ seo.page_description }}">
         <meta property="og:description" content="{{ seo.page_description }}" />
      {% else %}
         <meta name="description" content="{{ site.description }}">
         <meta property="og:description" content="{{ site.description }}" />
      {% endif %}

      {% comment %} meta tags for open graph and twitter {% endcomment %}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="{{ site.twitter_site }}" />
      {% if page.url == "/" %}
         <meta name="og:title" content="{{site.site_title }}" />
         <meta property="og:type" content="website" />
         <meta name="og:image" content="{{ site.image }}" />
         <meta name="twitter:creator" content="{{ site.twitter_site }}" />
         <meta name="twitter:title" content="{{ site.site_title }}" />
         {% if site.twitter_image %}
            <meta name="twitter:image" content="{{ site.twitter_image }}" />
         {% else %}
            <meta name="twitter:image" content="{{ site.image }}" />
         {% endif %}
      {% else %}
         <meta name="og:title" content="{{ title }}" />
         <meta name="twitter:title" content="{{ title }}" />
         {% if seo.open_graph_type %}
            <meta property="og:type" content="{{ seo.open_graph_type }}" />
         {% else %}
            <meta property="og:type" content="website" />
         {% endif %}
         {% if seo.featured_image %}
            <meta name="og:image" content="{{ seo.featured_image }}" />
            <meta name="twitter:image" content="{{ seo.featured_image }}" />
         {% else %}
            <meta name="og:image" content="{{ site.image }}" />
            {% if site.twitter_image %}
               <meta name="twitter:image" content="{{ site.twitter_image }}" />
            {% else %}
               <meta name="twitter:image" content="{{site.image }}" />
            {% endif %}
         {% endif %}
         {% if seo.author_twitter_handle %}  
            <meta name="twitter:creator" content="{{ seo.author_twitter_handle }}" />
         {% else %}
            <meta name="twitter:creator" content="{{ site.twitter_site }}" />
         {% endif %}
      {% endif %}

      {% comment %} Add robots no index {% endcomment %}
      {% if seo.no_index %}
         <meta name="robots" content="noindex">
         <meta name="googlebot" content="noindex">
      {% endif %}

      {%- comment -%} Canonical URL for SEO {%- endcomment -%}
      {% if seo.canonical_url %}
         <link rel="canonical" href="{{ site.BaseURL }}{{ seo.canonical_url | url }}" />
      {% else %}
         <link rel="canonical" href="{{ site.BaseURL }}{{ page.url | url }}" />
      {% endif %}

      {%- comment -%} Styles {%- endcomment -%}
      <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
      <link href="/vendor/phosphor-icons/css/phosphor.css" rel="stylesheet" />
      <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/theme.css" />

      {%- comment -%} Favicon {%- endcomment -%}
      <link rel="shortcut icon" href="{{ site.favicon_icon }}" type="image/x-icon" />
      <link rel="icon" href="{{ site.favicon_image }}" type="image/x-icon" />
      <link rel="apple-touch-icon" href="{{ site.favicon_image }}">
   </head>
   <body>
      <header>
         <nav
            class="navbar navbar-expand-lg position-fixed w-100 zindex-dropdown"
            id="mainnavigationBar"
         >
            <div class="container-fluid">
               <a class="navbar-brand" href="/">
                  <img src="{{ nav.logo }}" alt="Nav-Logo" />
               </a>
               <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
               >
                  <span class="navbar-toggler-default">
                     <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <line
                           x1="3.5"
                           y1="5.5"
                           x2="21.5"
                           y2="5.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <line
                           x1="4.5"
                           y1="12.5"
                           x2="21.5"
                           y2="12.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <line
                           x1="11.5"
                           y1="19.5"
                           x2="21.5"
                           y2="19.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </span>
                  <span class="navbar-toggler-toggled">
                     <svg
                        width="20"
                        height="20"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <path
                           d="M21.5 6.5L6.5 21.5"
                           stroke="#404152"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <path
                           d="M21.5 21.5L6.5 6.5"
                           stroke="#404152"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto mb-20 mb-lg-0">
                     {% for item in nav.items %}
                        {% assign url = item.link %}
                        <li class="nav-item">
                           <a
                              class="nav-link {% if page.url == url%}active{% endif %}"
                              href="{{ item.link }}"
                              >{{ item.text }}</a
                           >
                        </li>
                     {% endfor %}
                  </ul>
               </div>
               <div class="d-none d-lg-block">
                  <div class="nav-item">
                     <a href="{{ nav.button.link }}" class="btn btn-sm btn-links">{{
                        nav.button.text
                     }}</a>
                  </div>
               </div>
            </div>
         </nav>
      </header>
