<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>{{ title }} | {{ siteSEO.site_title }}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {%- comment -%} Page description for SEO {%- endcomment -%}
      {% if seo.description %}
         <meta name="description" content="{{ seo.description }}">
         <meta property="og:description" content="{{ seo.description }}" />
      {% else %}
         <meta name="description" content="{{ siteSEO.description }}">
         <meta property="og:description" content="{{ siteSEO.description }}" />
      {% endif %}

      {% comment %} meta tags for open graph and twitter {% endcomment %}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="{{ siteSEO.twitter_site }}" />
      {% if page.url == "/" %}
         <meta name="og:title" content="{{siteSEO.site_title }}" />
         <meta property="og:type" content="website" />
         <meta name="og:image" content="{{ siteSEO.image }}" />
         <meta name="twitter:creator" content="{{ siteSEO.twitter_site }}" />
         <meta name="twitter:title" content="{{ siteSEO.site_title }}" />
         {% if siteSEO.twitter_image %}
            <meta name="twitter:image" content="{{ siteSEO.twitter_image }}" />
         {% else %}
            <meta name="twitter:image" content="{{ siteSEO.image }}" />
         {% endif %}
      {% else %}
         <meta name="og:title" content="{{ title }}" />
         <meta name="twitter:title" content="{{ title }}" />
         {% if seo.og_type %}
            <meta property="og:type" content="{{ seo.og_type }}" />
         {% else %}
            <meta property="og:type" content="website" />
         {% endif %}
         {% if seo.featured_image %}
            <meta name="og:image" content="{{ seo.featured_image }}" />
            <meta name="twitter:image" content="{{ seo.featured_image }}" />
         {% else %}
            <meta name="og:image" content="{{ siteSEO.image }}" />
            {% if siteSEO.twitter_image %}
               <meta name="twitter:image" content="{{ siteSEO.twitter_image }}" />
            {% else %}
               <meta name="twitter:image" content="{{siteSEO.image }}" />
            {% endif %}
         {% endif %}
         {% if seo.author_twitter_handle %}  
            <meta name="twitter:creator" content="{{ seo.author_twitter_handle }}" />
         {% else %}
            <meta name="twitter:creator" content="{{ siteSEO.twitter_site }}" />
         {% endif %}
      {% endif %}

      {% comment %} Add robots no index {% endcomment %}
      {% if seo.noindex or eleventyExcludeFromCollections %}
         <meta name="robots" content="noindex">
         <meta name="googlebot" content="noindex">
      {% endif %}

      {%- comment -%} Canonical URL for SEO {%- endcomment -%}
      {% if seo.canonical_url %}
         <link rel="canonical" href="{{ seo.canonical_url }}" />
      {% else %}
         <link rel="canonical" href="{{ page.url }}" />
      {% endif %}

      {%- comment -%} Styles {%- endcomment -%}
      <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
      <link href="/vendor/phosphor-icons/css/phosphor.css" rel="stylesheet" />
      <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/theme.css" />

      {%- comment -%} Favicon {%- endcomment -%}
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
   </head>
   <body>
      <header>
         <nav
            class="navbar navbar-expand-lg position-fixed w-100 zindex-dropdown"
            id="mainnavigationBar"
         >
            <div class="container-fluid">
               <a class="navbar-brand" href="/">
                  <img src="{{ nav.logo }}" alt="Nav-Logo" />
               </a>
               <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
               >
                  <span class="navbar-toggler-default">
                     <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <line
                           x1="3.5"
                           y1="5.5"
                           x2="21.5"
                           y2="5.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <line
                           x1="4.5"
                           y1="12.5"
                           x2="21.5"
                           y2="12.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <line
                           x1="11.5"
                           y1="19.5"
                           x2="21.5"
                           y2="19.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </span>
                  <span class="navbar-toggler-toggled">
                     <svg
                        width="20"
                        height="20"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <path
                           d="M21.5 6.5L6.5 21.5"
                           stroke="#404152"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <path
                           d="M21.5 21.5L6.5 6.5"
                           stroke="#404152"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto mb-20 mb-lg-0">
                     {% for item in nav.items %}
                     {% if item.link == "/" %}
                        {% assign url = item.link %}
                     {% else %}
                        {% assign url = item.link | append: "/" %}
                     {% endif %}
                     <li class="nav-item">
                        <a
                           class="nav-link {% if page.url == url%}active{% endif %}"
                           href="{{ item.link }}"
                           >{{ item.text }}</a
                        >
                     </li>
                     {% endfor %}
                  </ul>
               </div>
               <div class="d-none d-lg-block">
                  <div class="nav-item">
                     <a href="{{ nav.btn.link }}" class="btn btn-sm btn-links">{{
                        nav.btn.text
                     }}</a>
                  </div>
               </div>
            </div>
         </nav>
      </header>
