<header>
         <nav
            class="navbar navbar-expand-lg position-fixed w-100 zindex-dropdown"
            id="mainnavigationBar"
         >
            <div class="container-fluid">
               <a class="navbar-brand" href="/">
                  <img src="{{ nav.logo }}" alt="Nav-Logo" />
               </a>
               <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
               >
                  <span class="navbar-toggler-default">
                     <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <line
                           x1="3.5"
                           y1="5.5"
                           x2="21.5"
                           y2="5.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <line
                           x1="4.5"
                           y1="12.5"
                           x2="21.5"
                           y2="12.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <line
                           x1="11.5"
                           y1="19.5"
                           x2="21.5"
                           y2="19.5"
                           stroke="#292D32"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </span>
                  <span class="navbar-toggler-toggled">
                     <svg
                        width="20"
                        height="20"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <path
                           d="M21.5 6.5L6.5 21.5"
                           stroke="#404152"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                        <path
                           d="M21.5 21.5L6.5 6.5"
                           stroke="#404152"
                           stroke-width="3"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto mb-20 mb-lg-0">
                     {% for item in nav.items %}
                     {% assign url = item.link %}
                     <li class="nav-item dropdown">
                        {% if item.enable_dropdown and item.dropdown %}
                           <a
                           class="nav-link dropdown-link {% if page.url == url%}active{% endif %}"
                           href="{{ item.link }}"
                           id="navbarDropdown"
                           role="button"
                           aria-expanded="false"
                           >{{ item.text }}</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           {% for dropdown_item in item.dropdown %}
                           <li>
                              <a class="dropdown-item" href="{{ dropdown_item.dropdown_link }}">{{ dropdown_item.dropdown_text }}</a>
                           </li>
                           {% endfor %}
                           </ul>
                        {% else %}
                           <a class="nav-link {% if page.url == url%}active{% endif %}" href="{{ item.link }}">{{ item.text }}</a>
                        {% endif %}
                     </li>
                     {% endfor %}
                  </ul>
               </div> 
               {% if nav.enable_nav_btn %}
                <div class="d-none d-lg-block">
                    <div class="nav-item">
                    <a href="{{ nav.nav_btn.link }}" class="btn btn-sm btn-links">{{ nav.nav_btn.text}}</a>
                    </div>
                </div> 
               {% endif %}
            </div>
         </nav>
</header>
