{% include './layouts/head.liquid' %}
<main>
   <section class="blog-hero pt-xl-22 pt-sm-20 pt-18 pb-xxl-25 pb-xl-23 pb-22 position-relative">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
               <div class="blog-hero-content">
                  <h1 class="blog-hero-title">{{tag | capitalize}}</h1>
                  <p>{{description}}</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="blog @@padding @@blog-two pb-10 pb-xl-15">
      <div class="container">
         <div class="row">
         {% for blog in collections[tag] %}
         <div class="col-lg-4 col-md-6">
               <article class="blog-post">
                  <div class="blog-post-thumb">
                     <a href="{{ blog.url }}">
                        <img src="{{ blog.data.thumbImg.image }}" alt="{{ blog.data.thumbImg.image_alt }}" loading="lazy" />
                     </a>
                  </div>
                  <div class="blog-post-content">
                     <div class="blog-post-tag @@category">
                     {% for tag in blog.data.tags limit: 2 %}
                        <a href="/tags/{{ tag }}/">{{ tag }}</a>
                     {% endfor %}
                     </div>
                     <div class="blog-post-title">
                        <a href="{{ blog.url }}" class="">{{blog.data.title}}</a>
                     </div>
                  </div>
               </article>
            </div>
         {% endfor %}
            
         </div>
      </div>
   </section>
</main>
{% include './layouts/tail.liquid' %}