
      <footer class="footer pt-xxl-19 pt-8 pb-sm-7 pb-5" id="footer">
         <div class="container-fluid">
            <div class="footer-wrapper">
               <div class="row">
                  <div class="col-12 col-lg-4 me-auto order-2 order-lg-1">
                     <div class="footer-logo mt-7 mt-md-0">
                        <a href="/" class="">
                           <img src="{{ footer.logo }}" alt="logo" />
                        </a>
                        <p class="">
                           Copyright {% year %} {{ footer.copyright }}
                        </p>
                     </div>
                     <div class="social-icon">
                        <ul class="list-unstyled">
                           {% for item in footer.social %}
                           <li>
                              <a href="{{ item.link }}"> <i class="{{ item.icon }}" aria-hidden="true"></i><span class="visually-hidden">{{ item.icon_alt }}</span></a>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
                  {% for item in footer.sections %}
                  <div class="col-6 col-md-3 col-lg-2 order-1">
                     <div class="footer-widget">
                        <h3>{{ item.title }}</h3>
                        <ul class="list-unstyled">
                           {% for link in item.links %}
                           <li>
                              <a href="{{ link.link }}">{{ link.text }}</a>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </footer>
      <script src="/vendor/jQuery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
      <script src="/vendor/waypoints/waypoints.min.js"></script>
      <script src="/vendor/magnific-popup/magnific-popup.min.js"></script>
      <script src="/js/script.js"></script>
   </body>
</html>