<section class="works">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="works-content">
               <h2>{{title}}</h2>
               {{description | markdownify}}
               <a href="{{button.link}}" class="btn btn-lg btn-white" target="_blank"> {{button.text}} </a>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="works-banner">
               <img src="{{video.image}}" class="w-100" alt="{{video.image_alt}}" loading="lazy" style="border-radius:20px"/>
               <div class="effect"></div>
               <div class="video-iframe d-flex align-items-center justify-content-center">
                  <div class="video-icon me-sm-9 me-8">
                     <a class="popup-vimeo" href="{{video.link}}">
                        <svg
                           width="28"
                           height="32"
                           viewBox="0 0 28 32"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M26 12.5359C28.6667 14.0755 28.6667 17.9245 26 19.4641L6.5 30.7224C3.83333 32.262 0.499998 30.3375 0.499999 27.2583L0.5 4.74167C0.5 1.66247 3.83333 -0.262033 6.5 1.27757L26 12.5359Z"
                              fill="white"
                           />
                        </svg>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
