<section class="hero-two">
   <div class="hero-two-shape"></div>
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="hero-two-content">
               <h1 class="mb-4">{{title}}</h1>
               <div class="mb-7 w-xxl-80">{{description | markdownify}}</div>
               <div class="">
                  <a href="{{button.url}}" class="btn btn-primary btn-lg"> {{button.text}} </a>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="hero-two-banner">
               <img src="{{image}}" alt="{{image_alt}}" />
               <div class="hero-two-banner-shape"></div>
            </div>
         </div>
      </div>
   </div>
</section>

