<section class="pricing pb-xxl-20 pb-lg-15 pb-md-5">
   <div class="container">
      <div class="row">
         {% for item in pricing_tier %}
         <div class="col-lg-4">
            <div class="card pricing-item {% if item.is_active %} active {% endif %}">
               <h5 class="card-title">{{item.tier}}</h5>
               <p class="card-text">{{item.description}}</p>
               {% if item.has_discount %}
               <div class="price">
                  <p class="pricingtable">${{item.discount_price}}</p>
                  <div class="discount">
                     <p>${{item.price}}</p>
                     <div class="vector vector-one">
                        <img src="/images/pricing/cross-shape.png" alt="cross-shape" loading="lazy" />
                     </div>
                  </div>
                  <div class="shape top-0">
                     <img src="/images/pricing/shape-two.png" alt="shape" loading="lazy" />
                  </div>
               </div>
               {% else %}
               <div class="price">
                  <p><span>${{item.price}}</span></p>
                  <div class="shape">
                     <img src="/images/pricing/shape-one.png" alt="shape" loading="lazy" />
                  </div>
               </div>
               {% endif %}
               <div class="card-body">
                  <ul class="list-unstyled">
                     {% for feature in item.feature %}
                     <li class="{% if feature.is_active == false %} deactive {% endif %}">
                        <i class="ph-check {% if feature.is_active == false %} deactive {% endif %}"></i>
                        {{feature.item}}
                     </li>
                     {% endfor %}
                  </ul>
                  <div class="link">
                     <a href="{{item.btn.link}}" class="btn btn-lg btn-white">
                        {{item.btn.text}}
                     </a>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
